p{
  font-family: 'Kurale', serif;
  font-size: 40px;
  color: #37d8ff;
}

hr{
  border-color: #00b7ff;
  border-width: 6px;
  max-width: 65px;
}
.layout{
  background-size: cover;
}
.container{
  height: 100vh !important;
}


