p{
  font-family: 'Kurale', serif;
  font-size: 40px;
  color: #37d8ff;
}

hr{
  border-color: #00b7ff;
  border-width: 6px;
  max-width: 65px;
}
.layout{
  background-size: cover;
}
.container{
  height: 100vh !important;
}

.btn-xl{
  background-color: #fff;
  border-color: #00b7ff;
  columns: #00b7ff;
  padding: 1rem 2rem;
  border-radius: 300px;
  font-weight: bold;
  color: #01445f;
}

.btn-xl:hover{
  background-color: #01445f;
  color: #fff;
  border-color: #01445f;

}
