body{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  height: 100vh;
}
.btn-xl{
  background-color: #fff;
  border-color: #00b7ff;
  columns: #00b7ff;
  padding: 1rem 2rem;
  border-radius: 300px;
  font-weight: bold;
  color: #01445f;
}

.btn-xl:hover{
  background-color: #01445f;
  color: #fff;
  border-color: #01445f;

}
